/* CSS files add styling rules to your content */

body:before {
  content: "";
  display: block;
  background-attachment: scroll;
  position: fixed;
  top: 0;
  left: 0;
  width: 110vw;
  height: 110vh;
  z-index: -1;
  background-image: linear-gradient(to bottom right, #1a7eca, #a4cae8);
}
bo{
  width: 110vw;
  height: 110vh;
  z-index: -1;
  background-image: linear-gradient(to bottom right, #1a7eca, #a4cae8);
}
.card {
  background-color:black;
  color:white;
  width:25%;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  border-radius: 15px;
}
.scard {
  background-color:white;
  color:black;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  border-radius: 15px;
}
.screencard {
  background-color:black;
  color:white;
  padding-top: 5px;
}
.button {
  border-radius:3px;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.panel {
  margin-left: 20px;
  width: 345px;
  padding: 5px;
  background-color: #e5eecc;
  border: solid 1px #c3c3c3;
  display: none;
  border-radius: 10px;
  z-index:5;
}
.button:hover {
background-color: #555555;
color: white;
border: 2px solid black;
border-radius:10px;
  }
.buttonSpectator:hover {
background-image: linear-gradient(to bottom right, #075771, #cd458f);
color: white;
border: 2px solid black;
border-radius:10px;
}
.buttonMcdingus:hover {
background-color: #640f62;
color: white;
border: 2px solid black;
border-radius:10px;
  }
.buttonTcgaming:hover {
background-color: #555555;
color: white;
border: 2px solid black;
border-radius:10px;
  }
.buttonIthinkavle:hover {
background-color: #555555;
color: white;
border: 2px solid black;
border-radius:10px;
  }
.cooperblackfont {
  font-family: cooper-black-std,serif;
  font-weight: 400;
  font-style: normal;
}
.ubuntufont {
  font-family: 'Ubuntu', sans-serif;
}
.exofont {
  font-family: 'Exo 2', sans-serif;
}
.proxyfont {
  font-family: "Proxy1", Times, serif;
}
.proxyfontB {
  font-family: "Proxy1", Times, serif;
  font-weight: bold;
  text-decoration: none;
}
@font-face {
    font-family: "Proxy1";
    src: url("https://cdn.glitch.com/709ece84-9353-423f-a9cb-ee93df6a76e0%2FProxy-1-Regular.ttf?v=1606026863921");
}
